@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    color: rgb(8, 143, 143);
}
h1 {
    font-family: 'Russo One', sans-serif;
    color: rgb(120, 219, 20);
    display: flex;
    justify-content: center;
}

@media (min-width:650px) {
body{
    
    height: 95vh;
    width: 95vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}    
.arrows{
    display: none;
    }
}

.arrows {
    margin: 4vh auto;
    height: 200px;
    width: 200px;
}
.arrowVert {
    display: flex;
    flex-direction: column;
    margin: 0 70px 0px 70px;
    height: 100%;
    background-color: lightgreen;
}
.upArrow {
    height: 72px;
}
.wrapZone {
    height: 53px;
}
.downArrow {
    height: 75px;
}
.arrowHoriz {
    display: flex;
    flex-direction: row;
    margin: -65% 0 0 0;
    height: 50px;
    background-color: lightgreen;
}
.leftArrow {
    width: 70px;
}
.wrapZone2 {
    width: 60px;
}
.rightArrow {
    width: 70px;
}
.upArrow:active ,.downArrow:active ,.leftArrow:active ,.rightArrow:active {
    background-color: green;
}